project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"
image:
  name: "giantswarm/cluster-api-cleaner-cloud-director"
  tag: "[[ .Version ]]"
registry:
  domain: docker.io

logLevel: 0

pod:
  user:
    id: 1000
  group:
    id: 1000

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  seccompProfile:
    type: RuntimeDefault
